!!!
%html
%head
  %title decruiters.com
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  - if current_user
    = image_tag current_user.picture_url
    %pre= current_user.to_yaml
  - else
    = link_to "Login", '/auth/linkedin'
  = yield
